<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div id="filter">
        <div class="pull-left">
          <label>
            Search
            <ng-template #searchPopoverContent>
              <small>
                Search for resource names that contain the string value entered in the search box.
                <br/><br/>
                Multiple search strings can be entered using a comma separated list.
              </small>
            </ng-template>
            <span class="glyphicon glyphicon-info-sign"
                  [ngbPopover]="searchPopoverContent"
                  placement="right"
                  popoverTitle="Search Help"
                  triggers="hover"></span>
            :
            <input type="text" [(ngModel)]="resourceFilter" (ngModelChange)="refreshData()"/>
          </label>
        </div>
        <div class="pull-right">
          <small>Source last updated: {{ chartDataLastUpdated | date:'yyyy-MM-dd HH:mm:ss Z'}}</small>
        </div>
        <div class="clearfix"></div>
      </div>
      <div id="chart-container">
        <div id="gantt" [style.height.px]="chartHeight"></div>
        <div *ngIf="!dataLoaded" id="loader"></div>
      </div>
    </div>
  </div>
</div>
