<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div id="filter">
        <div class="pull-left">
          <form class="form-inline">
            <div class="form-group">
              <label class="control-label">Search</label>
              <ng-template #searchPopoverContent>
                <small>
                  Search for resource names that contain the string value entered in the search box.
                  <br/><br/>
                  Multiple search strings can be entered using a comma separated list.
                </small>
              </ng-template>
              <span class="glyphicon glyphicon-info-sign"
                    [ngbPopover]="searchPopoverContent"
                    placement="right"
                    popoverTitle="Search Help"
                    triggers="hover"></span>
              <div class="input-group">
                <input class="form-control" type="text" [(ngModel)]="resourceFilter"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
            <button class="btn btn-primary" (click)="refreshData()">
              <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>

          </form>
        </div>
        <div class="pull-right text-right">
          <small>
            Source last updated: {{ chartDataLastUpdated | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}
            ({{ chartDataLastUpdated | amTimeAgo }})
            <br/>
            All times have offset {{ chartDataLastUpdated | amDateFormat: 'Z'}}
          </small>
        </div>
        <div class="clearfix"></div>
      </div>
      <div id="chart-container">
        <div id="gantt" [style.height.px]="chartHeight"></div>
        <div *ngIf="!dataLoaded" id="loader"></div>
      </div>
    </div>
  </div>
</div>
