doctype html
html
    head
        title= title

        link(rel='stylesheet', href='/static/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/static/bootstrap/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/assets/css/style.css')

        block css
    body
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(data-togle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(class="navbar-brand" href="/") Quali Utilities
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/resource-gantt/index.html") Resource Gantt
                    ul.nav.navbar-nav.navbar-right
        .container-fluid
            block content
        block javascript